* {
  margin: 0px;
  padding: 0 px;
  font-family: "Roboto", Arial, Tahoma, sans-serif;
}

.info-box {
  background-color: #1C1D22;
  margin: 0px auto;
  padding: 110px 0;
  color: white;
  text-align: center;
}

.info-box h2 {
  margin-bottom: 30px;
}

#flex-p {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#flex-p p {
  padding: 30px;
  max-width: 300px;
}

p.big {
  font-size: 1.1em;
  line-height: 1.5em;
}

.fa-star,
.fa-thumbs-up,
.fa-check {
  font-size: 2.7em;
  display: block;
  color: white;
  margin-bottom: 30px;
}