img {
    width: 25%;
    float: left;
    box-sizing: border-box;
    padding: 25px;
}

@media (max-width: 1000px) {
    img {
        width: 33.33%;
    }
}

@media (max-width: 700px) {
    img {
        width: 50%;
    }
}

@media (min-width: 401px) and (max-width: 1000px) {
    img {
        border: 1pt dotted;
    }
}

@media (max-width: 400px) {
    img {
        width: 100%;
    }

    h1 {
        text-align: center;
    }
}