/********** GENERALES **********/

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	background-color: rgb(238, 238, 238);
	font-family: Verdana;
}

#wrapper {
	max-width: 1000px;
	margin: 0 auto;
	border: 2px solid rgb(30, 0, 138);
}

/********** HEADER **********/

header {
	background-image: url(imagenes/header.jpg);
	height: 222px;
	/** ponemos la altura, sino no aparece la imagen de cabecera*/
	border-bottom: 2px solid rgb(0, 0, 0);
	position: relative;
}

#rotulo {
	position: absolute;
	font-size: 2em;
	font-weight: bold;
	color: white;
	bottom: 10px;
	right: 10px;
}

/********** MENU **********/

nav {
	/**para que quede pegado a la izquierda, rectangulo de la izquierda*/
	background-color: rgb(231, 228, 255);
	font-weight: bold;
	color: rgb(84, 44, 78);
	font-size: 1em;
	text-align: center;
}

#recuadro {
	background-color: white;
	color: rgb(160, 98, 81);
	clear: both;
	/**PONEMOS EL CLEAR BOTH PARA QUE NO FALLE NADA DESPUES DE COLOCAR EL FLOAT  */
	text-align: center;
	border-radius: 10px;
	margin-bottom: 15px;
}

nav a {
	text-decoration: none;
}

nav ul {
	padding: 20px;
	list-style: none;
}

nav ul li {
	display: inline;
	margin-right: 5px;
}

nav ul li:first-child {
	display: none;
}

nav a:hover {
	color: brown;
}

nav p {
	padding-left: 10px;
}

/********** MAIN **********/

main {
	background-color: white;
	position: relative;
	font-size: 12px;
	text-indent: 1.8em;
	text-align: justify;
	padding: 10px;
	float: left;
}

main h1 {
	color: rgb(30, 0, 138);
	text-align: center;
	padding-top: 20px;
}

/********** FOOTER **********/

#info-museos div {
	float: left;
	width: 33.3%;
	padding: 10px;
	text-align: center;
	height: 200px;
}

#info-museos div img {
	border-radius: 40px;
	max-width: 90%;
	max-height: 90%;
}

/********** FOOTER **********/

footer {
	clear: both;
	/** Ponemos ara limpiar y que aparezcan correctamente los rectangulos*/
	background-image: url(imagenes/mar2.jpg);
	background-repeat: repeat;
	background-position: center;
	border-top: 1px solid #000;
	text-align: center;
	font-size: 1em;
	font-weight: bold;
	color: white;
	overflow: hidden;
}

footer div {
	float: left;
	width: 50%;
	padding: 20px;
}

/************ Maquetación tablet **********/
@media (max-width: 1000px) {
	#info-museos div {
		width: 50%;
	}
}

/************ Maquetación Móvil **********/
@media (max-width: 700px) {
	nav ul li:first-child {
		display: block;
	}

	nav ul li {
		display: block;
	}

	#info-museos div {
		width: 100%;
		height: auto;
	}

	footer div {
		width: 100%;
	}
}