* {
    box-sizing: border-box 
}

.padre {
    position: relative;
    margin-top: 100px;
    margin-left: 100px;
    width: 300px;
    height: 200px;
    background-color: red;
}

.hijo {
    position: relative;
    width: 50px;
    height: 50px;
    top: 50px;
    left: 50px;
    background-color: violet;
}